<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Gas On Wheel</title>


  <link rel="stylesheet" href="styles/css/app.css">
  <link rel="stylesheet" href="styles/css/animate.css">
  <link rel="stylesheet" href="styles/css/bootstrap-colorpicker.min.css">
  <link rel="stylesheet" href="styles/css/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="styles/css/inline-style.css">
  <link rel="stylesheet" href="styles/css/owl.carousel.css">
  <link rel="stylesheet" href="styles/css/owl.theme.css">
  <link rel="stylesheet" href="styles/css/owl.transitions.css">
  <link rel="stylesheet" href="styles/css/swiper.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">


		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<header class=" wd-menu3-header ">
  <div class="show-for-medium-up wd-menu3-logo">
    <h1><a title="Green energy" rel="home" href="index-2.html"> <img alt="logo"
                                                                   src="images/logo-solar-blan.png"></a>
    </h1>
  </div>
  <div class=" wd-menu3-nav">
    <nav class="top-bar" data-topbar="" >
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <div class="menu-main-menu-container">
          <ul id="menu-main-menu" class="menu">
            <li id="menu-item-1273" class="active_menu">
              <a href="index-2.html" class="has-icon">Home</a>
            </li>

            <li id="menu-item-656" class="has-dropdown not-click">
              <a href="#" class="has-icon">pages</a>

              <ul class="sub-menu dropdown ">
                <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">pages</a></li>


                <li id="menu-item-14">
                  <a href="about-us.html" class="has-icon">About Us</a>
                </li>

                <li id="menu-item-699">
                  <a href="services.html" class="has-icon">Services</a>
                </li>

              </ul>

            </li>

            <li id="menu-item-721" class="has-dropdown not-click greenenergy_mega-menu">
              <a href="#" class="has-icon">Portfolio</a>

              <ul class="sub-menu dropdown ">
                <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">Portfolio</a>
                </li>


                <li id="menu-item-806" class="has-dropdown not-click">
                  <a href="#" class="has-icon">Style I</a>

                  <ul class="sub-menu dropdown ">
                    <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                    <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">Style I</a>
                    </li>


                    <li id="menu-item-747">
                      <a href="portfolio-columns.html" class="has-icon">Portfolio
                        columns</a>
                    </li>

                    <li id="menu-item-746">
                      <a href="portfolio-three-columns.html" class="has-icon">Portfolio
                        three columns</a>
                    </li>

                    <li id="menu-item-745">
                      <a href="portfolio-two.html" class="has-icon">Portfolio Two
                        columns</a>
                    </li>

                  </ul>

                </li>

                <li id="menu-item-807" class="has-dropdown not-click">
                  <a href="#" class="has-icon">Style II</a>

                  <ul class="sub-menu dropdown ">
                    <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                    <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">Style II</a>
                    </li>


                    <li id="menu-item-803">
                      <a href="portfolio-style-ii-two-columns.html" class="has-icon">Portfolio
                        Style II Two columns</a>
                    </li>

                    <li id="menu-item-804">
                      <a href="portfolio-style-ii-theree-columns.html" class="has-icon">Portfolio
                        Style II Theree columns</a>
                    </li>

                    <li id="menu-item-805">
                      <a href="portfolio-style-2-four-columns.html" class="has-icon">Portfolio
                        Style II Four columns</a>
                    </li>

                  </ul>

                </li>

                <li id="menu-item-808" class="has-dropdown not-click">
                  <a href="#" class="has-icon">Single portfolio</a>

                  <ul class="sub-menu dropdown ">
                    <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                    <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">Single
                      portfolio</a></li>


                    <li id="menu-item-809">
                      <a href="single-portfolio.html"
                         class="has-icon">Single Portfolio</a>
                    </li>

                  </ul>

                </li>

              </ul>

            </li>

            <li id="menu-item-720" class="has-dropdown not-click">
              <a href="#" class="has-icon">Blog</a>

              <ul class="sub-menu dropdown ">
                <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">Blog</a></li>


                <li id="menu-item-12">
                  <a href="blog.html" class="has-icon">Classical Blog</a>
                </li>

                <li id="menu-item-718">
                  <a href="blog-columns.html" class="has-icon">Blog columns</a>
                </li>

                <li id="menu-item-719">
                  <a href="single-post.html"
                     class="has-icon">Single Post</a>
                </li>

              </ul>

            </li>

            <li id="menu-item-711" class="has-dropdown not-click">
              <a href="#" class="has-icon">Element</a>

              <ul class="sub-menu dropdown ">
                <li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li class="parent-link hide-for-medium-up"><a class="parent-link js-generated" href="#">Element</a></li>


                <li id="menu-item-675">
                  <a href="call-to-action.html" class="has-icon">Call To Action</a>
                </li>

                <li id="menu-item-671">
                  <a href="princing-table.html" class="has-icon">Pricing Tables</a>
                </li>

                <li id="menu-item-665">
                  <a href="faq.html" class="has-icon">FAQ</a>
                </li>

                <li id="menu-item-773">
                  <a href="columns.html" class="has-icon">columns</a>
                </li>

              </ul>

            </li>

            <li id="menu-item-13">
              <a href="contact.html" class="has-icon">Contact</a>
            </li>
          </ul>
        </div>
      </section>
    </nav>
  </div>
  <div class="show-for-large-up triongle"></div>
  <div class="show-for-large-up wd-menu3-social">
    <ul class="social-icons inline-list">
      <li class="facebook">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="twitter">
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="googleplus">
        <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
      </li>
    </ul>
  </div>

</header>
		
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<footer id="footer">
			<p>copyright &copy; gas on wheel 2018</p>
		</footer>
		
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
